<div class="Home">
    <div class="Home__Container">
        <span class="Home__Logo">
            <app-logo></app-logo>
        </span>
        <div class="Home__Menu">
            <div class="Home__MenuItem">
                <h1>About Us</h1>
                <p>Endless youtube training videos, information all over the web, but what exactly suits you the best?
                    Lightlife customizes fitness projects for those who desire a stronger body and a healthier
                    lifestyle.</p>
            </div>
            <div class="Home__MenuItem">
                <h1>Fitness Project</h1>
                <div>
                    <app-button (onclick) = 'this.toggleProjectQuestionModal()'>Start Now</app-button>
                </div>
            </div>
            <div class="Home__MenuItem">
                <h1>Nutrition</h1>
                <p>What should I eat for Losing or gaining Weight ?</p>
                <div class="mt-xl-4">
                    <app-button (click) = 'this.toggleTDEEModal()'>Caculate Now</app-button>
                </div>
            </div>
            <div class="Home__MenuItem">
                <h1>Rewards</h1>

            </div>
        </div>
        <!-- <app-button (onclick)='this.$auth.logout()'>Logout</app-button> -->
    </div>
</div>