@import "variables";
@import "mixins";
@import "animations";

.ProjectQuestion {
  display: flex;
  width: 50vw;
  max-width: 35rem;
  justify-content: center;
  align-items: center;

  h1 {
    @include font-size("xl");
    margin-bottom: 1.5rem;
    text-align: center;
  }

  &__Heart {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img {
      width: 2.5rem;
      margin-right: 1rem;
    }

    p {
      @include font-size("lg");
    }
  }

  &__Submit {
    width: 5rem;
    float: right;
  }

  &__Container {
    width: 100%;
    position: relative;
    padding: 3rem;
    @include g5-modal();
    animation: popup 0.3s;
  }

  &__Close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
  }

  &__Forms {
    margin-bottom: 1.5rem;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    ul {
      li {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }

        small {
          margin-top: 0.75rem;
          display: flex;
          align-items: baseline;
          flex-direction: row;
          color: $rose;
          @include font-size("sm");
          width: 100%;
        }
      }
    }
  }
}

.up {
  color: $green-2;
  em {
    cursor: auto;
    color: $green-2;
  }
}

.down {
  color: $red-1;
  em {
    cursor: auto;
    color: $red-1;
  }
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
  .ProjectQuestion {
    width: 100vw;

    &__Submit {
      width: 100%;
    }
  }
}
