@import "variables";
@import "mixins";

.Project {
  height: 100%;
  background-image: url("../../../../../../assets/images/project_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: map-get($map: $layout-level, $key: "cover");
    background-color: rgba($black, 0.3);
  }
  &__Container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: map-get($map: $layout-level, $key: "canvus");
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  &__Logo {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
  }
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "xl")) {
  .Project {
  }
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
  .Project {
    &__Logo {
      position: absolute;
      bottom: auto;
      right: auto;
      top: 3rem;
      left: 50%;
      transform: translate(-50%);
    }

    &__Container {
      padding: 0 2.5rem;
      align-items: flex-start;
    }
  }
}
