<div class="Login" [formGroup]="this.form">
    <div class="Login__Container">
        <div class="Login__Logo">
            <app-logo></app-logo>
        </div>
        <h1>Welcome</h1>
        <div class="Login__Field">
            <div class="Login__Input">
                <label for=""><em class="icon-mail"></em></label>
                <input [class.is-invalid]="form.get('email').invalid && form.get('email').touched"
                    formControlName="email" type="text" class="form-control" />
            </div>
            <small *ngIf="form.get('email').invalid && form.get('email').touched">
                <span class="icon-alert_2 pr-1"></span>
                <span>Dose not match email rule.</span>
            </small>
        </div>
        <div class="Login__Field">
            <div class="Login__Input">
                <label for=""><em class="icon-unlock"></em></label>
                <input formControlName="password" type="password" class="form-control" />
            </div>
        </div>
        <app-button [disabled]="form.get('password').invalid || form.get('email').invalid" (onclick)='this.login()'>
            Login
        </app-button>
    </div>
    <img src="assets/images/sign-up.png" alt="">
</div>