@import "variables";
@import "mixins";

.Exercise {
  cursor: pointer;
  @include g5-modal();
  padding: 1.5rem;
  background-color: rgba($black, 0.3);
  border: none;
  margin-right: 1.5rem;
  width: 18rem;
  height: 20rem;

  & > h1 {
    font-weight: 300;
    opacity: 0.8;
    text-align: center;
    white-space: pre-wrap;
  }
  & > img {
    opacity: 0.5;
    width: 15rem;
    height: 15rem;
  }

  &:hover {
    & > img {
      opacity: 1;
      transition: 0.5s;
    }

    &> h1 {
      opacity: 1;
      transition: 0.5s;
    }
  }
}

.last {
  margin: 0;
}
