<div class="Landing">
    <div class="Landing__Container">
        <span class="Landing__Logo">
            <app-logo></app-logo>
        </span>
        <h1>LIGHT LIFE</h1>
        <div class="Landing__Buttons">
            <app-button (onclick)='this.router.navigate(["/landing/login"])'>
                Sign In
            </app-button>
            <app-button (onclick)='this.router.navigate(["/landing/sign-up"])'>
                Sign Up
            </app-button>
        </div>
    </div>

</div>